* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.galeria {
    background-color: #333;
    width: 70%;
}

.galeria img .pt1{
display: inline-block;
    width: 20%;
}
.galeria img .pt2{
    
    display: inline-block;
        width: 20%;
    }