* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 500px;
}
header {
    width: 100%;
    height: 250px;
    background-color: gray;
    position: relative;
}

header nav{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul li{
    border-right: 2px solid white;
    line-height: 0px;
    color: white;
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
header nav ul li:last-child{
    border-right: 0px;
}
header nav ul li a{
    text-decoration: none;
    color: white;
}
header nav ul li a:hover {
color: rgb(105, 105, 105);
 margin: 0;
 padding: 0;
 font-family: sans-serif;
}

main {
    margin-top: 10px;
 background-color: black;
 width: 66%;
 height: 350px;
}

main h1 {
    color: white;
    margin-left: 20px;
    margin-bottom: 2%;
}

main h2 {
 color: white;
 background-color: gold;
 width: 100%;
 padding: 2%;
}

main img{
 width: 45%;
 margin: 3%;
 display: block;
 float: left;
}

.article2{
    position: relative;
    top: -780px;
}

main article{
 width: 45%;
 display: block;
 float: left;
 margin-top: 3%;
}

section{
    border: 1px solid black;
    width: 33.3%;
    height: 430px;
    background-color:black;
    display: inline-block;

}
.faixa-preta{
    background-color:gold;
    height: 30px;
}

.faixa-preta h1{
    margin-left: 15px;
    color: white;
}
h3{
    color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

p{
    color: white;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

button{
    float: right;
    background: black;
    width: 80px;
    height: 20px;
    border: 2px solid white;
    margin-right: 20px;
}

button a {
    color:white;
    text-decoration: none;
    
}
.faixa-preta2{
background-color: gold;
margin-top: 40px;
width: 400px;
margin-left: 8px;
}

.faixa-preta2 h2{
    color:white ;
    text-align: center;
}

nav ul{
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul li{
color: white;
}

aside{
    margin-left: 50px;
}
aside section{
    position: relative;
    top: -350px;
    left: 800px;
    height: 800px;
}

aside section .interno-aside{
   position: relative;
   top: 100px;
}
.mais-lidos{
    position: relative;
    top: -50px;
}
aside h2 {
    background-color: gold;
    color: white;
    width: 90%;
    padding: 2%;
    margin-left: 20px
}

aside ul li a{
    color: white;
    margin: 2%;
    text-decoration: none;
    list-style-type: disc;
}

aside ul li {
    margin-top: 5px;
    color: white;
    padding: 2px;
    margin-left: 40px;
}

aside form input {
    margin-left: 15px;   
    width: 93%;
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    font-style:oblique;
    position: relative;
    top: -90px;
}

.galeria {
    width: 400px;
    position: relative;
    top: 60px;
    margin-top: -90px;  
}
.galeria .imagens{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    padding-top: 50%;
    border: 8px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.galeria img .pt1{

    width: 100px;
}
.galeria img .pt2{
    
    
        width: 100px;
    }
footer{
    position: relative;
    top: -750px;
    height: 320px;
    width: 100%;
    background-color: black;
    
}

footer p{
    color: white;
    font-size: 20px;
}

#giff{
    width: 100%;
    height: 220px;
}